{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
    "plugin:prettier/recommended" // This will display prettier errors as ESLint errors. [MUST BE LAST ITEM]
  ],
  "ignorePatterns": ["coverage/", "dist", "node_modules/", "package-lock.json", "tsconfig.json"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": ["json-format"],
  "rules": {
    "@typescript-eslint/prefer-readonly": ["error"],
    "@typescript-eslint/camelcase": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "."]
      }
    }
  }
}